<!-- Columna derecha: Bonos del paciente -->
<div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
  <!-- Título fijo -->
  <div class="sticky top-0 z-10 bg-white dark:bg-gray-800 pb-2">
    <h2 class="text-2xl font-semibold text-gray-900 dark:text-white text-center mb-4">Bonos del Paciente</h2>
    <div class="flex justify-center mt-4">
      <button (click)="abrirModal()"
        class="flex items-center text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
        </svg>
        Agregar Nuevo Bono
      </button>
    </div>
  </div>

  <div *ngIf="mostrarModal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg w-3/4 md:w-1/2">
      <div class="flex justify-between items-center border-b p-4">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          {{ bonoEnEdicion ? 'Editar Bono' : 'Crear Nuevo Bono' }}
        </h3>
        <button class="text-gray-500 hover:text-gray-700 dark:hover:text-gray-300" (click)="cerrarModal()">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="p-6">
        <app-crear-bono [bono]="bonoEnEdicion" (bonoCreado)="manejarBonoCreado()">
        </app-crear-bono>
      </div>
    </div>
  </div>


  <!-- Contenedor scrollable para bonos -->
  <div class="overflow-y-auto h-[calc(100vh-8rem)]">

    <div class="space-y-4">
      <!-- Iterar sobre cada bono -->
      <div *ngFor="let bono of bonos"
        class="p-4 bg-gray-50 dark:bg-gray-700 rounded-lg shadow-md mb-4 border border-gray-300 dark:border-gray-600">
        <ng-container *ngIf="bonos && bonos.length > 0; else noBonos">

          <div class="flex flex-wrap gap-4">
            <!-- N° de Bono -->
            <div class="flex-1 sm:w-1/5 min-w-[120px]">
              <p class="font-semibold text-gray-700 dark:text-gray-300">N° de Folio</p>
              <p class="text-gray-900 dark:text-white">{{ bono.folio }}</p>
            </div>

            <!-- Valor -->
            <div class="flex-1 sm:w-1/5 min-w-[120px]">
              <p class="font-semibold text-gray-700 dark:text-gray-300">Valor</p>
              <p class="text-gray-900 dark:text-white">{{ bono.valor }}</p>
            </div>

            <!-- Cantidad -->
            <div class="flex-1 sm:w-1/5 min-w-[120px]">
              <p class="font-semibold text-gray-700 dark:text-gray-300">Cantidad</p>
              <p class="text-gray-900 dark:text-white">{{ bono.cantidad }}</p>
            </div>

            <!-- Sesiones Disponibles -->
            <div class="flex-1 sm:w-1/5 min-w-[120px]">
              <p class="font-semibold text-gray-700 dark:text-gray-300">Sesiones Disponibles</p>
              <p class="text-gray-900 dark:text-white">{{ bono.sesionesDisponibles }}</p>
            </div>

            <button type="button"
              class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500"
              (click)="abrirModal(bono)">
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
              </svg>
              <span class="sr-only">Editar bono</span>
            </button>

          </div>
        </ng-container>
      </div>
      <ng-template #noBonos>
        <div class="p-4 bg-gray-50 dark:bg-gray-700 rounded-lg">
          <p class="text-gray-900 dark:text-white">No hay bonos disponibles para este paciente.</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
