<div class="max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-lg dark:bg-gray-800">
    <h2 class="text-2xl font-semibold text-gray-900 dark:text-white text-center mb-4">Pacientes Activos</h2>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 text-center">Nombre</th>
                    <th scope="col" class="px-6 py-3 text-center">Apellido</th>
                    <th scope="col" class="px-6 py-3 text-center">Teléfono</th>
                    <th scope="col" class="px-6 py-3 text-center">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paciente of pacientes" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                        {{ paciente.nombre }}
                    </td>
                    <td class="px-6 py-4 text-center">
                        {{ paciente.apellido }}
                    </td>
                    <td class="px-6 py-4 text-center">
                        {{ paciente.telefono }}
                    </td>
                    <td class="px-6 py-4 text-center">
                        <button (click)="redirigirASesiones(paciente.paciente_id)" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                            Ver Sesiones
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

