<form (ngSubmit)="onSubmit()">
  <div class="grid gap-4 mb-4 sm:grid-cols-2">
    <div>
      <label for="cantidad" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cantidad</label>
      <input type="text" id="cantidad" name="cantidad" [(ngModel)]="cantidad"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
        required>
    </div>
    <div>
      <label for="valor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Valor</label>
      <input type="text" id="valor" name="valor" [(ngModel)]="valor"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
        required>
    </div>
  </div>

  <div class="grid gap-4 mb-4 sm:grid-cols-2">
    <div>
      <label for="folio" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Folio</label>
      <input type="text" id="folio" name="folio" [(ngModel)]="folio"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
        required>
    </div>
  </div>

  <button type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    Crear Bono
  </button>
</form>
