<div class="min-h-screen flex bg-neutral-100 dark:bg-neutral-900 text-neutral-900 dark:text-white">
  <!-- Sidebar -->
  <app-navbar *ngIf="!isLoginPage()"></app-navbar>

  <!-- Contenedor principal para la página de login -->
  <div *ngIf="isLoginPage()" class="flex-1 flex justify-center items-center p-4">
    <div class="w-full max-w-md">
      <router-outlet></router-outlet> <!-- Aquí se cargará el formulario de login -->
    </div>
  </div>

  <!-- Contenido principal, se verá después del login -->
  <div *ngIf="!isLoginPage()"
    class="flex-1 p-4 transition-all duration-300 sm:ml-64 bg-neutral-100 dark:bg-neutral-900">
    <router-outlet></router-outlet>
  </div>
</div>
