<!--
<h2 class="text-2xl font-semibold text-gray-900 dark:text-white text-center mb-4">Evaluación del Paciente</h2>

<!-- Mostrar mensaje de error
<div *ngIf="errorMessage" class="p-4 mb-4 text-sm text-red-800 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-900"
  role="alert">
  <span class="font-medium">Error: </span> {{ errorMessage }}
</div>

<!-- Formulario para crear una evaluación
<form (ngSubmit)="createEvaluacion()">
  <div class="space-y-4">
    <div class="p-4 bg-gray-50 dark:bg-gray-700 rounded-lg">
      <label for="fechaIngreso" class="font-semibold text-gray-700 dark:text-gray-300">Fecha de Ingreso</label>
      <input type="date" id="fechaIngreso" [(ngModel)]="nuevaEvaluacion.fechaIngreso" name="fechaIngreso"
        class="w-full p-2 border border-gray-300 rounded-lg" required>
    </div>

    <div class="p-4 bg-gray-50 dark:bg-gray-700 rounded-lg">
      <label for="objetivo" class="font-semibold text-gray-700 dark:text-gray-300">Objetivo</label>
      <textarea id="objetivo" [(ngModel)]="nuevaEvaluacion.objetivo" name="objetivo"
        class="w-full p-2 border border-gray-300 rounded-lg" required></textarea>
    </div>

    <div class="p-4 bg-gray-50 dark:bg-gray-700 rounded-lg">
      <label for="diagnostico" class="font-semibold text-gray-700 dark:text-gray-300">Diagnóstico</label>
      <textarea id="diagnostico" [(ngModel)]="nuevaEvaluacion.diagnostico" name="diagnostico"
        class="w-full p-2 border border-gray-300 rounded-lg" required></textarea>
    </div>

    <div class="p-4 bg-gray-50 dark:bg-gray-700 rounded-lg">
      <label for="anamnesis" class="font-semibold text-gray-700 dark:text-gray-300">Anamnesis</label>
      <textarea id="anamnesis" [(ngModel)]="nuevaEvaluacion.anamnesis" name="anamnesis"
        class="w-full p-2 border border-gray-300 rounded-lg" required></textarea>
    </div>

    <div class="p-4 bg-gray-50 dark:bg-gray-700 rounded-lg">
      <button type="submit" class="bg-blue-600 text-white py-2 px-4 rounded-lg">Guardar Evaluación</button>
    </div>
  </div>
</form>

<!-- Mostrar las evaluaciones existentes
<h3 class="font-semibold text-gray-700 dark:text-gray-300 mt-8">Evaluaciones Anteriores</h3>
<div *ngFor="let evaluacion of evaluaciones" class="p-4 bg-gray-50 dark:bg-gray-700 rounded-lg mb-4">
  <h4 class="font-semibold text-gray-700 dark:text-gray-300">Fecha de Ingreso: {{ evaluacion.fechaIngreso }}</h4>
  <p class="text-gray-900 dark:text-white"><strong>Objetivo:</strong> {{ evaluacion.objetivo }}</p>
  <p class="text-gray-900 dark:text-white"><strong>Diagnóstico:</strong> {{ evaluacion.diagnostico }}</p>
  <p class="text-gray-900 dark:text-white"><strong>Anamnesis:</strong> {{ evaluacion.anamnesis }}</p>
</div>

-->
